
/* Header */
header{
    background-image: url(../img/headerBackground.jpg);
    background-size: cover;
    height: 95vh;
}
.header-btn{
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}
.fondo-oscuro{
    background-color: rgba(0, 0, 0, 0.449);
}

/* Mis Proyectos */
.carouselImg{
    height: 15rem;
    object-fit: cover;
}

/* Footer */

footer{
    background-image: url(../img/footer.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}

.logoFooter{
    width: 3rem;
}
.logoContainer{
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}